.container{
    padding: 20px;
    cursor: pointer;
    background-color: #217CFE;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    font-size: 15px;
}

@media (max-width:1070px){
    .container{
        font-size: 14px;
    }
  }

  @media (max-width:850px){
    .container{
        font-size: 13px;
    }
  }