.main{
    height: 100%;
    padding-bottom: 13vh;
    position: relative;
    width: 142vw;
}

.black-box{
    & .card{
        background-color: #1e1f20 !important;
        & p {
            color: #C4C7C5 !important;
        }
    }
    & .card:hover{
        background-color: #333537 !important;
    }
    & .card img{
        background-color: #d2d3d2 !important;
    }
    & .search-box,input {
        background-color: #1e1f20 !important;
        color: #C4C7C5;
        & img {
            filter: brightness(0) invert(1);
        }
    }

}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight:500 ;
    padding: 20px;
}

.main .greet p:nth-child(1){
    animation: left-to-right-fade-in 1s ease-in;
    -webkit-mask-repeat: no-repeat;
}

.main .greet p:nth-child(2){
    animation:fadeAppear;
    animation-duration: 1.3s;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    animation:fadeAppear;
    animation-duration: 1.3s;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    height: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #e2e6eb;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
    animation:fadeAppear;
    animation-duration: 1.7s;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background-color: transparent;
    border:none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0px 5%;
    max-height: 67.5vh;
    overflow-y: scroll;
    
}

.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data img{
    overflow: visible!important;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width:1070px){
    .main {
        width: 80vw;
    }
    .main .greet{
        font-size: 50px;
    }
    .main .cards{
        grid-template-columns: repeat(2,minmax(180px, 1fr));    
    }
  }

  @media (max-width:850px){
    .main .greet{
        font-size: 40px;
    }
  }

  @media (max-width:640px){
    .main {
        width: 95vw;
    }
    .main .card p{
        font-size: 16px;
    }
    .search-box input{
        font-size: 16px;
    }
  }

  @media (max-width:440px){
    .search-box div{
        position: absolute;
        right: 2.3rem;
    }
    .main .cards{
        grid-template-columns: repeat(1,minmax(180px, 1fr));
        max-height: 28rem;    
    }
    .bottom-info{
        font-size: 12px!important;
      }
  }

  /* animateion */
  @keyframes fadeAppear {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  /* animateion left-to-right-fade  */
  @keyframes left-to-right-fade-in {
    0% {
      -webkit-mask-size: 0%;
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
    100% {
      -webkit-mask-size: 100%;
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
  }
