.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 100px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 35px;

  & Button {
    animation:fadeAppear;
    animation-duration: 1.3s;
  }

  & div{
    & h1:nth-child(1){
      animation: left-to-right-fade-in 1s ease-in;
      -webkit-mask-repeat: no-repeat;
    }
    & h1:nth-child(2){
      animation: left-to-right-fade-in 1s ease-in;
      -webkit-mask-repeat: no-repeat;
    }
  }
}

.item2{
  display: flex;
  flex-direction: column;
  gap: 35px;
  animation:fadeAppear;
  animation-duration: 1.6s;
}

.title{
  font-size: 72px;
  background: linear-gradient(to right, #4b90ff, #ff5546,#ff5546);
  -webkit-background-clip: text; /** ให้ bg อยู่ในตัวหนังสือ **/
  -webkit-text-fill-color: transparent; /** ให้ bg อยู่ในตัวหนังสือ **/
}

.img{
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

.desc{
  font-size: 22px;
  font-weight: 300;
  animation:fadeAppear;
  animation-duration: 1.3s;
}

@keyframes move {
  from{
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@media (max-width:1200px){
  .title{
    font-size: 60px;
  }
  .desc{
    font-size: 18px;
  }
}

@media (max-width:900px){
  .title{
    font-size: 55px;
  }
  .desc{
    font-size: 17px;
    max-width: 35rem;
  }
  .item2{
    display: none !important;
  }
  .container{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:600px){
  .title{
    font-size: 50px;
  }
  .desc{
    font-size: 15px;
  }
}

/* animateion */
@keyframes fadeAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* animateion left-to-right-fade  */
@keyframes left-to-right-fade-in {
  0% {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
  100% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}