.container{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 22px;
  font-weight: bold;
}

.links{
  display: flex;
  align-items: center;
  gap: 20px;
}

.image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout{
  padding: 5px;
  border: none;
  background-color: #4b90ff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.menunav{
  display: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.boxlogo{
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  z-index: 6;
}

@media (max-width:640px){
  .menunav{
    display: flex;
  }
  .logo{
    font-size: 20px;
  }
  .links{
    font-size: 16px;
  }
  .image{
    width: 35px;
    height: 35px;
  }
}

@media (max-width:460px){
  .link{
    display: none;
  }
}